<!DOCTYPE html>
<html>
<head>
  <title>MapMyTravels</title>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCQBxiR0WdkiWU6Fj3RNQNrOMqkmg7hD_U" %>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
